.container {
  max-width: 300px;
  max-height: 550px;
  font-family: "Zilla Slab", serif;
  border: 3px solid #5c5470;
  box-shadow: 1px 1px 3px 3px #352f44;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 40px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2a2438;
}

.winter-container {
  background-image: url(images/Winter.jpg);
  color: #2a2438;
}

.spring-container {
  background-image: url(images/Spring.jpg);
  color: #2a2438;
}
.summer-container {
  background-image: url(images/Summer.jpg);
  color: #2a2438;
}

.autumn-container {
  background-image: url(images/Autumn.jpg);
  color: #1d1716;
}

.current-time-container {
  list-style: none;
  font-weight: 700;
}

.search-container {

  margin-bottom: 30px;
}

.input-box {
  width: 185px;
  border-radius: 5px;
}

::placeholder {
  color: #38598b;
  font-style: italic;
  opacity: 0.7;
}

.search-btn,
.geolocation-btn  {
  width: 40px;
  border-radius: 5px;
  border: 2px solid #5c5470;
  transition: all 0.2s ease-in-out;
}

.search-btn:hover {
  background-color: #5c5470;
  /* color: #e7eaf6; */
}



.geolocation-btn {
 /* margin: 0 auto; */
 
  /* color: #e7eaf6;  */
 }

 .geolocation-btn:hover {
  background-color: #5c5470;
  /* background-color: #e7eaf6;
  color: #5c5470; */
 }

.current-weather-container {
  text-align: center;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

h2 img {
  width: 60px;
}

.units {
  position: relative;
  top: -7px;
  font-size: 18px;
}

a {
  color: #5d507c;
  text-decoration: underline;
 }
.active-link {
  color: #2a2438;
  text-decoration: none; 
}

.active-link:hover {
  cursor: default;
  color: #2a2438;
}

.weather-properties {
  font-size: 18px;
  font-weight: 800;
  list-style: none;
}

.week-weather-container {
  font-weight: 700;
  text-align: center;
}
